#root{
    padding-bottom: 50px;
}

.LoginForm{
    padding-top: 30px;
    margin-bottom: 100px;
}

.headerText{
    text-align: center;
    padding-bottom: 10px;
    /* font-family: 'Fascinate', cursive; */
    font-family: "Andale Mono";
    font-size: 72px;
}

.headerText.headerImage{
    background-color: lightgray;
    position: relative;
}

/* .headerImage{
    background-image: url("/image/philadelphiabackground.jpg");
    background-repeat: no-repeat;
    justify-content: center;
} */

.loginSideHeader{
    /* font-family: 'Fascinate', cursive; */
    font-family: "Andale Mono";

}

.backgroundStyle{
    width:500px;
}

.containerColor{
    background-color: lightgrey;
}