#root{
    padding-bottom: 50px;
}

.LoginForm{
    margin-bottom: 100px;
}

.headerText{
    text-align: center;
    padding-bottom: 10px;
    font-family: 'Fascinate', cursive;
    font-size: 72px;
    color: 
}

h2{
    font-family: 'Fascinate', cursive;
}
